Aula 2 Node-Red . Json
[{"id":"b3547d59.12eec","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a435426e.5b1d8","type":"ui_button","z":"b3547d59.12eec","name":"","group":"fd28b8c3.ade9f8","order":5,"width":0,"height":0,"passthru":false,"label":"Dados","tooltip":"Acione para ter uma surpresa","color":"","bgcolor":"","icon":"fa-handshake-o","payload":"Pai do Alef Come lama","payloadType":"str","topic":"payload","topicType":"msg","x":100,"y":100,"wires":[["9349bf08.bdcd8"]]},{"id":"9349bf08.bdcd8","type":"ui_text","z":"b3547d59.12eec","group":"fd28b8c3.ade9f8","order":4,"width":0,"height":0,"name":"","label":"Mensagem Recebida;","format":"{{msg.payload}}","layout":"col-center","x":300,"y":100,"wires":[]},{"id":"7e088213.3a01cc","type":"ui_text_input","z":"b3547d59.12eec","name":"","label":"Informe Seu Nome:","tooltip":"Digite Aqui o Nome do Usuário","group":"fd28b8c3.ade9f8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"topic","topicType":"msg","x":160,"y":240,"wires":[["8b83bf0.9216d4"]]},{"id":"8b83bf0.9216d4","type":"ui_text","z":"b3547d59.12eec","group":"fd28b8c3.ade9f8","order":1,"width":0,"height":0,"name":"","label":"Mensagem Recebida:","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":240,"wires":[]},{"id":"e11ad011.9b3a3","type":"ui_gauge","z":"b3547d59.12eec","name":"","group":"fd28b8c3.ade9f8","order":8,"width":0,"height":0,"gtype":"gage","title":"Nível de água","label":"L/m³","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":340,"y":380,"wires":[]},{"id":"48c2e8d.394de18","type":"ui_slider","z":"b3547d59.12eec","name":"","label":"Água","tooltip":"","group":"fd28b8c3.ade9f8","order":7,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"10000","step":1,"x":150,"y":380,"wires":[["e11ad011.9b3a3"]]},{"id":"fd28b8c3.ade9f8","type":"ui_group","name":"Entrada de Texto","tab":"c47cf1be.80384","order":1,"disp":true,"width":"6","collapse":false},{"id":"c47cf1be.80384","type":"ui_tab","name":"FATEC","icon":"fa-bandcamp","order":3,"disabled":false,"hidden":false}]
