BackEnd NodeRed
[{"id":"1f2d94d4.b290bb","type":"tab","label":"BackEnd-NodeRed","disabled":false,"info":""},{"id":"5235a503.36fa7c","type":"http in","z":"1f2d94d4.b290bb","name":"","url":"/Ola","method":"get","upload":false,"swaggerDoc":"","x":200,"y":120,"wires":[["af895fc1.98ce8"]]},{"id":"1d18f6a0.e4aad9","type":"http response","z":"1f2d94d4.b290bb","name":"","statusCode":"200","headers":{},"x":580,"y":120,"wires":[]},{"id":"af895fc1.98ce8","type":"template","z":"1f2d94d4.b290bb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"Mensagem:\"Ola\"}","output":"str","x":400,"y":120,"wires":[["1d18f6a0.e4aad9"]]},{"id":"d7920aaa.6fd0f8","type":"http in","z":"1f2d94d4.b290bb","name":"","url":"/ola-nome","method":"get","upload":false,"swaggerDoc":"","x":220,"y":180,"wires":[["ec04dcbd.d9999"]]},{"id":"ec04dcbd.d9999","type":"function","z":"1f2d94d4.b290bb","name":"","func":"msg.payload={\"nome-enviado\":msg.req.query.nome,\n\"tamanho\":msg.req.query.nome.length};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":180,"wires":[["f9f2131f.20dbf"]]},{"id":"f9f2131f.20dbf","type":"http response","z":"1f2d94d4.b290bb","name":"","statusCode":"200","headers":{},"x":580,"y":180,"wires":[]},{"id":"dc9af5d.645e408","type":"http in","z":"1f2d94d4.b290bb","name":"","url":"/Calculadora","method":"get","upload":false,"swaggerDoc":"","x":220,"y":240,"wires":[["45a7015d.6016e"]]},{"id":"e63c0532.7a11d8","type":"http response","z":"1f2d94d4.b290bb","name":"","statusCode":"","headers":{},"x":590,"y":240,"wires":[]},{"id":"45a7015d.6016e","type":"function","z":"1f2d94d4.b290bb","name":"","func":"var num1 = parseInt(msg.req.query.n1,10);\nvar num2 = parseInt(msg.req.query.n1,10);\nvar resultado = num1+num2;\nmsg.payload={\n    \"num1\": num1,\n    \"num2\": num2,\n    \"operacao\":\"+\",\n    \"resultado\": resultado\n};\nmsg.statusCode == 200;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":240,"wires":[["e63c0532.7a11d8"]]},{"id":"ecd3fd2e.80a19","type":"http in","z":"1f2d94d4.b290bb","name":"","url":"/Calculadora-basica","method":"get","upload":false,"swaggerDoc":"","x":250,"y":300,"wires":[["100854ca.3a32ab"]]},{"id":"100854ca.3a32ab","type":"function","z":"1f2d94d4.b290bb","name":"","func":"var num1 = parseInt(msg.req.query.n1, 10); //Converte String para Intvar num2 = parseInt(msg.req.query.n2, 10);\nvar num2 = parseInt(msg.req.query.n2, 10);\nvar operacao = msg.req.query.operacao;\nvar resultado;\nif (operacao == \"plus\")\n    resultado = num1+num2;\nelse if(operacao == \"-\")\n    resultado = num1-num2;\nelse if(operacao == \"*\")\n    resultado = num1*num2;\nelse if(operacao == \"/\")\n    resultado = num1/num2;\nmsg.payload = {\n    \"num1\":num1,\n    \"num2\":num2,\n    \"operacao\":operacao,\n    \"resultado\":resultado\n    \n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":300,"wires":[["afc99ed.43a026"]]},{"id":"afc99ed.43a026","type":"http response","z":"1f2d94d4.b290bb","name":"","statusCode":"","headers":{},"x":590,"y":300,"wires":[]},{"id":"f4c96473.99c508","type":"ui_switch","z":"1f2d94d4.b290bb","name":"","label":"switch","tooltip":"","group":"595ac331.d6374c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":190,"y":360,"wires":[["7c564e90.3d416"]]},{"id":"1c966582.348cba","type":"ui_slider","z":"1f2d94d4.b290bb","name":"","label":"slider","tooltip":"","group":"595ac331.d6374c","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"x":190,"y":440,"wires":[["f585c25c.c510f"]]},{"id":"4142d952.fa1638","type":"ui_gauge","z":"1f2d94d4.b290bb","name":"","group":"595ac331.d6374c","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":520,"wires":[]},{"id":"7c564e90.3d416","type":"change","z":"1f2d94d4.b290bb","name":"","rules":[{"t":"set","p":"switch","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":360,"wires":[[]]},{"id":"f585c25c.c510f","type":"change","z":"1f2d94d4.b290bb","name":"","rules":[{"t":"set","p":"slider","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":440,"wires":[[]]},{"id":"da7f8651.27f618","type":"change","z":"1f2d94d4.b290bb","name":"","rules":[{"t":"set","p":"slider","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"switch","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"gauge","pt":"flow","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":620,"wires":[[]]},{"id":"431c173a.6d2bb8","type":"trigger","z":"1f2d94d4.b290bb","name":"","op1":"gauge","op2":"0","op1type":"flow","op2type":"str","duration":"-300","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":240,"y":520,"wires":[["4142d952.fa1638"]]},{"id":"6df0114b.08384","type":"inject","z":"1f2d94d4.b290bb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":620,"wires":[["da7f8651.27f618","431c173a.6d2bb8"]]},{"id":"962c0d33.afbad","type":"function","z":"1f2d94d4.b290bb","name":"","func":"msg.payload = {\n    \"slider\":flow.get (\"slider\"),\n    \"gauge\":flow.get(\"gauge\"),\n    \"switch\":flow.get(\"switch\")\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":720,"wires":[["f040ea2.d791618"]]},{"id":"c9db66e5.a24a68","type":"http in","z":"1f2d94d4.b290bb","name":"","url":"/get-status","method":"get","upload":false,"swaggerDoc":"","x":220,"y":720,"wires":[["962c0d33.afbad"]]},{"id":"f040ea2.d791618","type":"http response","z":"1f2d94d4.b290bb","name":"","statusCode":"","headers":{},"x":590,"y":720,"wires":[]},{"id":"1c9bdf61.02c711","type":"http in","z":"1f2d94d4.b290bb","name":"","url":"/Atualiza-Gauge","method":"post","upload":false,"swaggerDoc":"","x":240,"y":800,"wires":[["150afff0.ae1db"]]},{"id":"194b101a.c5fbb","type":"http response","z":"1f2d94d4.b290bb","name":"","statusCode":"","headers":{},"x":570,"y":800,"wires":[]},{"id":"150afff0.ae1db","type":"function","z":"1f2d94d4.b290bb","name":"","func":"var novo_gauge = msg.payload.value;\nflow.set(\"gauge\", novo_valor);\n\nmsg.payload = {\n    \"slider\":flow.get (\"slider\"),\n    \"gauge\":flow.get(\"gauge\"),\n    \"switch\":flow.get(\"switch\")\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":800,"wires":[["194b101a.c5fbb"]]},{"id":"595ac331.d6374c","type":"ui_group","name":"Saida","tab":"f23e7757.8d7718","order":1,"disp":true,"width":"6","collapse":false},{"id":"f23e7757.8d7718","type":"ui_tab","name":"Servidor HTTP","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
