Requisições HTTP
[{"id":"d3546e65.2b911","type":"tab","label":"Requisições HTTP","disabled":false,"info":""},{"id":"264c8df.fd87f72","type":"inject","z":"d3546e65.2b911","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":80,"wires":[["d2e807d2.506e98"]]},{"id":"399d79af.5307e6","type":"http request","z":"d3546e65.2b911","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":80,"wires":[["43bd84d6.47647c","4da9f84b.6e7828","a675b9c4.c9ac08","aece9d42.684ab"]]},{"id":"d2e807d2.506e98","type":"change","z":"d3546e65.2b911","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"http://api.openweathermap.org/data/2.5/weather?q=Maua, BR-SP&appid=487a3991a1087aaa5a6ed0302380f26d&units=metric","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":140,"wires":[["399d79af.5307e6"]]},{"id":"43bd84d6.47647c","type":"debug","z":"d3546e65.2b911","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":140,"wires":[]},{"id":"ce8264cf.df3ed8","type":"ui_button","z":"d3546e65.2b911","name":"","group":"3e5d51f7.e0682e","order":0,"width":0,"height":0,"passthru":false,"label":"Atualizar Temperatura","tooltip":"Clique Para Atualizar os Dados da Temperatura","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":300,"wires":[["d2e807d2.506e98"]]},{"id":"a675b9c4.c9ac08","type":"ui_text","z":"d3546e65.2b911","group":"3e5d51f7.e0682e","order":2,"width":0,"height":0,"name":"","label":"Umidade Relativa (%):","format":"{{msg.payload.main.humidity}}","layout":"col-center","x":540,"y":340,"wires":[]},{"id":"4da9f84b.6e7828","type":"ui_text","z":"d3546e65.2b911","group":"3e5d51f7.e0682e","order":8,"width":0,"height":0,"name":"","label":"Temperatura Atual (°C):","format":"{{msg.payload.main.temp}}","layout":"col-center","x":570,"y":280,"wires":[]},{"id":"aece9d42.684ab","type":"ui_gauge","z":"d3546e65.2b911","name":"","group":"3e5d51f7.e0682e","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{msg.payload.main.temp}}","min":"-10","max":"60","colors":["#101cc6","#26f22d","#ca3838"],"seg1":"","seg2":"","x":380,"y":440,"wires":[]},{"id":"3e5d51f7.e0682e","type":"ui_group","name":"Clima","tab":"3c33f05c.df297","order":1,"disp":true,"width":"6","collapse":false},{"id":"3c33f05c.df297","type":"ui_tab","name":"HTTP","icon":"wi-darksky-tornado","order":2,"disabled":false,"hidden":false}]
